nav {
  position: fixed;
  z-index: 1;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em 0 2em;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  padding-left: 10px;
  float: left;
  line-height: 80px;
  font-size: 2em;
}

#compose-button {
  border-radius: 5px;
  background-color: #eee;
  float: right;
  color: #00a087;
  width: 100px;
  padding: 20px;
  text-align: center;
  display: inline-flex;
  opacity: 0.95;
  border: solid 1px black;
  margin: 10px;
  cursor: pointer;
}
#compose-button:hover {
  opacity: 1;
  color: black;
}

