.new-tweet {
  border-radius: 5px;
  padding: 0 1em 2em 1em;
  background-color: #eee;
  margin: 0 2em 0 2em;
  border: solid 1px lightgrey;
}

h2 {
  border-bottom: solid 1px;
}

.flash-message {
  color: red;
  padding: 0 0 20px 70px;
  margin: 5px;
  display: inline;
  display: none;
}

.negInput {
  color: red;
}

#submit-post {
  float: left;
  display: inline;
}

.counter {
  float: right;
  font-style: italic;
  display: inline;
}

textarea {
  padding: 5px;
  width: 100%;
}