
.old-tweet header {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #eee;
  padding: 10px 10px 40px 10px;
}
.old-tweet header h1 {
  margin: 0 0 0 0;
  display: inline;
}

.old-tweet footer {
  border-top: solid 1px lightgrey;
  padding: 5px;
  font-style: italic;
}

.old-tweet p {
  padding: 20px;
  border: 10px;
  margin: 10px;
  display: block;
  overflow-wrap: break-word;
}

.old-tweet header p {
  float: right;
  display: inline;
  padding: 0;
}

.old-tweet {
  border-radius: 5px;
  margin: 2em;
  border: solid 1px lightgrey;
  opacity: 0.75;
}

.old-tweet:hover {
  border-radius: 5px;
  margin: 2em;
  border: solid 1px black;
  opacity: 1;
}

.old-tweet:hover footer p {
  display: block;
}

.old-tweet footer p {
  padding: 1px 5px 0 2px;
  margin: 0;
  border: 0;
  float: right;
  display: none;
}

.old-tweet:hover footer img {
  display: block;
}

.old-tweet footer img {
  margin-left: 5px;
  padding: 1px;
  float: right;
  width: 20px;
  height: 20px;
  display: none;
}

.old-tweet header img {
  margin: 1%;
  float: left;
  width: 60px;
  height: 60px
}

.old-tweet .like-button {
  cursor: pointer;
}

.old-tweet .flag-button {
  cursor: pointer;
}

.old-tweet .liked {
  border-radius: 10px;
  border: solid 2px orange;
}

.old-tweet .flaged {
  border-radius: 10px;
  border: solid 2px blue;
}

.tweet-flag {
  box-shadow: 10px 10px 7px #00a087;
  opacity : 1;
}




